<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

	<div class="text-center">
		<br/><h1><font size="20pt" face="futura" class="font-weight-bold">WELCOME</font></h1>
		<a href="/login" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">Log in</a>
		<a href="/users" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">Sign up</a>
		<a href="/secret" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">Secret</a>
	</div>

</body>

</html>